/*body{
    background-image: url(./backgimage.jpg);
    width: 100% !important ;
    background-size: cover;
    background-position: absolute;
    background-repeat: no-repeat;
    height: 100% ;
}*/